<!doctype html>
<html>
<%- include head.ejs %>
<body>
    <%- include header.ejs %>
	<h1>Upload a Picture</h1>
	<p>If the person is not in the db please add them <a href="/new">here</a> or else you will get some random person in the db you look most like according to the algorithm.</p>
	<p>Also read <a href="/about">this</a> for proper usage</p>
    </br>
	<% if(image) { %>
		<!--add fb here-->
		<img src="<%= image %>"/>
		<!--add twitter here-->
	<% } %>
	<% if(name) {%>
		<h3><%= name %></h3>
	<% } %>
  <% for (i=0;i<tweets.length;i++) { %>
      <p><%= tweets[i].text %></p>
  <% } %>
	<form role="form" action="/" method="post" enctype="multipart/form-data">
		<input class=".form-control" type="file" id="file" name="picture">
    </br>
		<input class="btn btn-default" type="submit" id="analyse">
	</form>
</body>
</html>